/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@keyframes moverGradiente {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  